body {
    font-family: "Arial", Tahoma, sans-serif;
    background-color: black;
}

main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

section {
    margin-bottom: 30%;
}
h1 {
    color: yellowgreen;
    font-size: 1. 75rem;
    margin-bottom: 0;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid yellowgreen;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px;
}

button {
    border-radius: 4px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    margin: 10px;
    padding: 10px 20px;
}

button:hover {
    color: rebeccapurple;
    background-color: white;
}

.rebeccapurple {
    color: rebeccapurple;
}

.gray {
    color: gray;
}

#monthly_budget {
    color: white;
}

#name_input {
    color: black;
}