body {
    font-family: 'source sans pro', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    margin: 20px;
}

#label-item {
    margin: 20px;
}