body {
    font-family: 'source sans pro', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    margin: 20px;
}

#label-item {
    margin: 20px;
}

#add-btn {
    padding: 10px;
    margin: 20px;
    background-color: brown;
    border: none;
    color: whitesmoke;
}

.title {
    display: flex;
    align-items: space-betwee;
}

h1 {
    margin-left: 10px;
}

#add-btn:hover {
    background-color: brown;
}

table, tr, td, th {
    border: solid black;
    border-collapse: collapse;
    border-color: black;
}